body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boardGameCard {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 35rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #567189;
  border-radius: 5px;
  background-color: white;
}

.cardImage {
  width: 275px;
  height: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.modalbutton {
  position: absolute;
  top: 4%;
  right: 4%;
}

